/*FOOTER*/
.container_footer
{
	background-image: url(/templates/www/images/style/page_bg.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-color: transparent;
	color: #FFFFFF;
	display: inline-block;
	padding: 0;
	position: relative;
	text-align: left;
/*correction for IE6 fix on body tag*/
	width: 100%;
}
.container_footer_content
{
	float: left;
	width: 66.666666666667%;
	padding-top: 0.9em;
}
FOOTER
{
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
	min-height: 200px;
}
.container_footer_aside
{
	float: right;
	width: 33.3333333333333%;
}
.container_copy
{
	font-size: 91.7%;
}
.copy
{
}
.managed
{
}
.managed A, .managed A:visited, .managed A:hover
{
	color: #FFFFFF;
}
