/*----------------------------------------------------------------
conditional styles IE
----------------------------------------------------------------*/
BODY.IE
{
	background: #CCCCCC;
/*Old browsers*/
	background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%);
/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee));
/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
/*IE10+*/
	background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 100%);
/*W3C*/
	-pie-background: linear-gradient(#cccccc, #eeeeee);
	height: 100%;
}
#container_ie_warning
{
	background-color: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin: 40px;
	padding: 40px;
	behavior: url(/templates/www/js/ie_specific/PIE.htc);
	z-index: 1;
	text-align: center;
}
#container_ie_warning H1
{
	font-size: 3em;
}
#container_ie_warning P
{
	font-size: 1.3em;
	font-weight: normal;
}
#container_ie_warning .info
{
	padding: 20px;
	text-align: center;
}
/*end*/
