---
layout: default
title: w3 framework - layout
overview: true
keywords: css3 grid
---
<div class="container_body_wrapper">
  <div class="container_content article">
    <div class="container_article">
      <article>
        <h1 class="title">Catalogue Layout</h1>
        <p>Usually associated with e-commerce this is a typical layout to showcase a list of products.</p>
        <p>This layout ensures that each item has equal height.</p>
        <div class="table wide_100 fill">
          <div class="cell_25">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="cell_25">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
              <p>Ex eaque ducimus culpa doloremque deleniti quaerat nulla cum iusto illo tenetur ullam id sequi voluptates cupiditate, numquam nisi.</p>
            </div>
          </div>
          <div class="cell_25">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="cell_25">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
          </div>
        </div>
        <p>Making the table act like a grid (max 5 cols):</p>
        <p>Set cell width i.e.cell_25</p>
        <p>Spacing is set by applying a width value and the offsetting subsequent columns.</p>
      </article>
    </div>
    <aside class="container_aside">
      {% include nav_sidebar_layout.html %}
    </aside>
  </div>
</div>