---
layout: default
title: w3 framework - layout
overview: true
keywords: css3 grid
---
<div class="container_body_wrapper">
  <div class="container_content article">
    <div class="container_article">
      <article>
        <h1 class="title">Catalogue Layout</h1>
        <p>Usually associated with e-commerce this is a typical layout to showcase a list of products.</p>
        <div class="table wide_100">
          <div class="cell">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="cell">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
          </div>
          <div class="cell">
            <div class="cellspacer">
              <img data-src="holder.js/100%x150">
              <h3>A heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
          </div>
        </div>
      </article>
    </div>
    <aside class="container_aside">
      {% include nav_sidebar_layout.html %}
    </aside>
  </div>
</div>