---
layout: default
title: w3 framework - layout
overview: true
keywords: css3 grid
---
<div class="container_body_wrapper">
  <div class="container_content article">
    <div class="container_article">
      <article>
        <h1 class="title">Layouts</h1>
        <p>Examples of potential use cases.</p>
          <h3>Content Items</h3>
          <ul>
            <li>Catalogue / Portfolio</li>
            <li>News/Blog</li>
            <li>Event</li>
            <li>Author</li>
            <li>Comment</li>
            <li>Gallery</li>
          </ul>
          <h3>Menus</h3>
          <ul>
            <li>Drop Down</li>
            <li>Mega</li>
            <li>Horizontal</li>
          </ul>
          <h3>Forms</h3>
          <ul>
            <li>Simple</li>
            <li>Multi-column</li>
          </ul>
      </article>
    </div>
    <aside class="container_aside">
      {% include nav_sidebar_layout.html %}
    </aside>
  </div>
</div>