---
layout: default
title: w3 framework - layout
overview: true
keywords: css3 grid
---
<div class="container_body_wrapper">
  <div class="container_content article">
    <div class="container_article">
      <article>
        <h1 class="title">CSS Grid</h1>
        <p>Probably the most widely used list layout, typically found on news portals and blog sites.</p>
        <div class="segment landscape group flush">
          <figure class="float_left wide_25">
            <img data-src="holder.js/100%x150">
            <figcaption>add a caption</figcaption>
          </figure>
          <div class="intro_text float_left wide_75">
            <div class="segment landscape">
            <h3>News Article 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
            </div>
          </div>
        </div>
        <div class="segment landscape group flush">
          <figure class="float_right wide_25">
            <img data-src="holder.js/100%x150">
            <figcaption>add a caption</figcaption>
          </figure>
          <div class="intro_text float_left wide_75">
            <div class="segment landscape">
            <h3>News Article 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
            </div>
          </div>
        </div>

      </article>
    </div>
    <aside class="container_aside">
      {% include nav_sidebar_layout.html %}
    </aside>
  </div>
</div>