---
layout: default
title: w3 framework - layout
overview: true
keywords: css3 grid
---
<div class="container_body_wrapper">
  <div class="container_content article">
    <div class="container_article">
      <article>
        <h1 class="title">CSS Grid</h1>
        <p>Probably the most widely used list layout, typically found on news portals and blog sites.</p>
        <p>Variations on this will include the introduction of leading, primary and secondary items.</p>
        <p>Leverage the variations in order isolate styling.</p>
        <div class="list blog custom_class">
        <!-- add support for columns calculation etc -->
          <article class="group img_left">
            <figure class="">
              <img data-src="holder.js/100%x150">
              <figcaption>add a caption</figcaption>
            </figure>
            <div class="intro_text">
              <h3>News Article 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
            </div>
          </article>
        </div>
        <div class="list blog custom_class">
          <article class="group img_right">
            <figure class="">
              <img data-src="holder.js/100%x150">
              <figcaption>add a caption</figcaption>
            </figure>
            <div class="intro_text">
              <h3>News Article 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
            </div>
          </article>
        </div>
        <div class="list blog custom_class">
          <article class="group img_center">
            <figure class="">
              <img data-src="holder.js/100%x150">
              <figcaption>add a caption</figcaption>
            </figure>
            <div class="intro_text">
              <h3>News Article 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
            </div>
          </article>
        </div>
        <h3 class="callout">Incorporate into the grid</h3>
        <div class="list blog custom_class">
          <div class="group">
            <div class="wide_50">
              <article class="group img_center">
                <figure class="">
                  <img data-src="holder.js/100%x150">
                  <figcaption>add a caption</figcaption>
                </figure>
                <div class="intro_text">
                  <h3>News Article 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
                </div>
              </article>
            </div>
            <div class="wide_50">
              <article class="group img_center">
                <figure class="">
                  <img data-src="holder.js/100%x150">
                  <figcaption>add a caption</figcaption>
                </figure>
                <div class="intro_text">
                  <h3>News Article 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
                </div>
              </article>
            </div>
          </div>


          <div class="group">
            <div class="wide_50">
              <article class="group img_left">
                <figure class="">
                  <img data-src="holder.js/100%x150">
                  <figcaption>add a caption</figcaption>
                </figure>
                <div class="intro_text">
                  <h3>News Article 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
                </div>
              </article>
            </div>
            <div class="wide_50">
              <article class="group img_left">
                <figure class="">
                  <img data-src="holder.js/100%x150">
                  <figcaption>add a caption</figcaption>
                </figure>
                <div class="intro_text">
                  <h3>News Article 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor non aut itaque sit eius sapiente, facere aspernatur rerum quia, commodi? Exercitationem itaque nisi ab quod dolorum. Facere, blanditiis, possimus.</p>
                </div>
              </article>
            </div>
          </div>
        </div>

      </article>
    </div>
    <aside class="container_aside">
      {% include nav_sidebar_layout.html %}
    </aside>
  </div>
</div>
