/*[fmt]1A90-1A0A-6*/
@import url(/templates/www/css/content/tables.css);
@import url(/templates/www/css/content/grid.css);
@import url(/templates/www/css/style/primary.css);
@import url(/templates/www/css/style/secondary.css);
@import url(/templates/www/css/style/tertiary.css);
@import url(/templates/www/css/style/quaternary.css);
@import url(/templates/www/css/style/senary.css);
@import url(/templates/www/css/style/septenary.css);
@import url(/templates/www/css/style/octonary.css);
@import url(/templates/www/css/style/nonary.css);
@import url(/templates/www/css/style/denary.css);
@import url(/templates/www/css/content/forms.css);
@import url(/templates/www/css/content/images.css);
@font-face {
	font-family: icomoon;
	src: url('/templates/www/fonts/icomoon/fonts/icomoon.eot');
	src: url('/templates/www/fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('/templates/www/fonts/icomoon/fonts/icomoon.ttf') format('truetype'), url('/templates/www/fonts/icomoon/fonts/icomoon.woff') format('woff'), url('/templates/www/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*CALL IN SVG FOR BETTER CHROME RENDERING*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: icomoon;
		src: url('/templates/www/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
	}
}
/*RESET - normalize*/
html,
button,
input,
select,
textarea,
pre,
code,
kbd,
samp {
	font-family: Arial;
}
summary::-webkit-details-marker {
	display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
	=display: inline;
	=zoom: 1;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
abbr[title] {
	border-bottom: 1px dotted #000000;
}
b,
strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: #FF0;
	color: #000;
}
p,
pre {
	margin: 1em 0;
}
pre,
code,
kbd,
samp {
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before,
q:after {
	content: '';
	content: none;
}
small {
	font-size: 0.9em;
	/*define font- weight for use in headings*/
	font-weight: normal;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
	/*1*/
	-ms-interpolation-mode: bicubic;
	/*2*/
	display: block;
}
figure {
	margin: 0;
}
/*BODY*/
html {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat;
	background-position: 0px 0px;
}
body {
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	font-size: 0.875em;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: center;
}
body.IE_6 {
	background-color: #FFFFFF;
	background-image: none;
}
/*BODY - component template (print, popup)*/
html.minimal {
	background-color: #FFFFFF;
}
html.minimal body {
	background-color: #FFFFFF;
	background-image: none;
	background-position: top left;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}
html.minimal article {
	display: inline-block;
	width: 100%;
}
/*TYPOGRAPHY - content lists*/
dl,
ol,
ul {
	margin: 1em 0;
}
dl {
}
dd {
	margin: 0 0 0 2em;
}
dl dt {
	font-weight: bold;
}
article ul,
article ol {
	/*[disabled]display:table;*/
	=display: inline-block;
}
ul {
}
ul > li {
	position: relative;
}
ol {
	list-style-type: decimal;
}
li ul,
li ol {
	margin: 0;
}
/*TYPOGRAPHY - paragraph text*/
p {
	margin: 0 0 1em;
	padding: 0;
}
/*TYPOGRAPHY - colours*/
.quiet {
	color: #666;
}
.loud {
	color: #CB2C30 !important;
}
.highlight {
	background: transparent;
}
.text {
	color: #474747;
}
/*TYPOGRAPHY - shadows*/
.txt_shadow_light {
	text-shadow: 0 1px 0 #FFFFFF;
}
.txt_shadow_dark {
	text-shadow: 0 1px 0 #000000;
	color: #BE1723;
}
.box_shadow_dark {
	-webkit-box-shadow: 0 0 6px #dbc59e;
	-moz-box-shadow: 0 0 6px #dbc59e;
	box-shadow: 0 0 6px #DBC59E;
}
/*TYPOGRAPHY - gradients*/
.gradient_dark {
	background: #034EA2;
	/*Old browsers*/
	background: -moz-linear-gradient(top, #034ea2 0%, #0336a5 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#034ea2), color-stop(100%,#0336a5));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #034ea2 0%,#0336a5 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #034ea2 0%,#0336a5 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #034ea2 0%,#0336a5 100%);
	/*IE10+*/
	background: linear-gradient(top, #034ea2 0%,#0336a5 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034ea2', endColorstr='#0336a5',GradientType=0 );
	/*IE6-9*/
}
.gradient_light {
}
.gradient_mid {
}
/*TYPOGRAPHY - backgrounds*/
.circle {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
/*TYPOGRAPHY - transparency*/
.trans_60 {
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background-color: #FFFFFF;
}
.trans_80 {
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	background-color: #FFFFFF;
}
/*TYPOGRAPHY - borders radius*/
.outline_round,
.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}
.outline_rounder,
.rounder {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}
/*TYPOGRAPHY - font size variations*/
.tiny {
	font-size: 0.6em;
}
.small {
	font-size: 0.9em;
}
.smaller {
	font-size: 0.8em;
}
.smallest {
	font-size: 0.7em;
}
.normal {
	font-size: 1em;
}
.big {
	font-size: 1.1em;
}
.bigger {
	font-size: 1.2em;
}
.biggest {
	font-size: 1.3em;
}
.huge {
	font-size: 2em;
}
/*BUTTONS*/
.btn,
input[type="submit"].btn,
[class*="btn_"],
.btn:visited {
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0.4em 1.2em 0.4em;
	/*[disabled]-webkit-border-radius:0.5em;*/
	/*[disabled]-moz-border-radius:0.5em;*/
	/*[disabled]border-radius:.5em;*/
	/*[disabled]-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);*/
	/*[disabled]-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);*/
	/*[disabled]box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);*/
	box-shadow: none;
	border: 1px solid transparent;
}
.btn:hover {
	text-decoration: none;
	color: #AAAAAA;
}
/*PANEL - alert*/
[class*="panel_"] h4 {
	color: inherit !important;
}
/*ACTIONS*/
.close {
	text-shadow: 0 1px 0 #FFF;
	opacity: .7;
	filter: alpha(opacity=70);
	float: right;
	font-weight: bold;
	font-size: 1.2em;
}
/*ACTIONS - message/warning*/
.message,
[class*="_message"],
.warning,
[class*="_warning"] {
	background-color: #FCF8E3 !important;
	border: 1px solid #FBEED5 !important;
	color: #C09853 !important;
}
.message h4,
[class*="_message"] h4 {
	color: inherit !important;
}
/*ACTIONS - success*/
.success,
[class*="_success"] {
	background-color: #DFF0D8 !important;
	border-color: #D6E9C6 !important;
	color: #468847 !important;
}
/*ACTIONS - info*/
.info,
[class*="_info"] {
	background-color: #D9EDF7 !important;
	border-color: #BCE8F1 !important;
	color: #3A87AD !important;
}
/*ACTIONS - error*/
.error,
[class*="_error"] {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}
/*ACTIONS - remove*/
.remove,
[class*="_remove"] {
	background-color: #FE1900;
	border-color: #D83526;
	color: #FFFFFF;
}
.remove:link,
[class*="_remove"]:link,
[class*="_remove"]:visited {
	color: #FFFFFF !important;
}
.remove.grad,
[class*="_remove"].grad {
	background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0000 100% );
	background: -ms-linear-gradient( top, #fe1a00 5%, #ce0000 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0000');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0000) );
	background-color: #FE1A00;
}
[class*="_remove"]:hover.grad {
	background: -moz-linear-gradient( center top, #ce0000 5%, #fe1a00 100% );
	background: -ms-linear-gradient( top, #ce0000 5%, #fe1a00 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0000', endColorstr='#fe1a00');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0000), color-stop(100%, #fe1a00) );
	background-color: #CE0000;
}
[class*="_remove"]:hover {
	background-color: #D83526;
	border-color: #FE1900;
}
/*ACTIONS - edit*/
.edit,
[class*="_edit"] {
	background-color: #F0AD4E;
	border-color: #EEA236;
	color: #FFFFFF;
}
/*ACTIONS - search*/
.search,
[class*="_search"] {
	background-color: #5BC0DE;
	border-color: #46B8DA;
	color: #FFFFFF;
}
/*ACTIONS - submit*/
.submit,
[class*="_submit"] {
	background-color: #5CB85C;
	border-color: #4CAE4C;
	color: #FFFFFF;
}
/*ACTIONS - cancel*/
.cancel,
[class*="_cancel"] {
	background-color: #D9534F;
	border-color: #D43F3A;
	color: #FFFFFF;
}
/*ACTIONS - add*/
.add,
[class*="_add"] {
	color: #FFF;
	background-color: #428BCA;
	border-color: #357EBD;
}
.add:link,
[class*="_add"]:link,
[class*="_add"]:visited {
	color: #B9D9F4 !important;
}
.add.grad,
[class*="_add"].grad {
	background-color: #428ACA;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #54b2ff), color-stop(1, #428aca) );
	background: -moz-linear-gradient( center top, #54b2ff 5%, #428aca 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b2ff', endColorstr='#428aca');
}
[class*="_add"]:hover.grad {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #428aca), color-stop(1, #54b2ff) );
	background: -moz-linear-gradient( center top, #428aca 5%, #54b2ff 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428aca', endColorstr='#54b2ff');
	background-color: #54B2FF;
}
[class*="_add"]:hover {
	background-color: #3276B1;
	border-color: #285E8E;
}
/*TYPOGRAPHY - spacing / placement / display (columns / lists / tables)*/
.row {
	clear: both;
}
.inline {
	display: inline-block;
}
.module {
}
.summary {
	margin: 0px 17px 0px 16px;
	padding: 10px;
}
/*GROUPING*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
	/*For IE 6/7*/
}
.block {
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	border-collapse: collapse;
	display: inline-block;
	width: 100% !important;
	border: 1px solid transparent;
}
.swatch {
	display: inline-block;
	width: 1em;
	height: 1em;
}
/*LAYOUT - inner padding*/
[class*="in_"] {
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	border-collapse: collapse;
	border: 1px solid transparent;
}
.in_tight {
	padding: 1em;
}
.in_tight_land {
	padding: 1em 1.5em;
}
.in_tight_port {
	padding: 1.5em 1em;
	padding: 1px;
}
.in_tighter {
	padding: 0.5em;
}
.in_tighter_land {
	padding: 0.5em 0.75em;
}
.in_tighter_port {
	padding: 0.75em 0.5em;
}
.in_tightest {
	padding: 0.25em;
}
.in_tightest_land {
	padding: 0.25em 5em;
}
.in_tightest_port {
	padding: 5em 0.25em;
}
.in_loose {
	padding: 1.5em;
}
.in_loose_land {
	padding: 1.5em 2.25em;
}
.in_loose_port {
	padding: 2.25em 1.5em;
}
.in_looser {
	padding: 2em;
}
.in_looser_land {
	padding: 2em 3em;
}
.in_looser_port {
	padding: 3em 2em;
}
.in_loosest {
	padding: 2.5em;
}
.in_loosest_land {
	padding: 2.5em 3.75em;
}
.in_loosest_port {
	padding: 3.75em 2.5em;
}
/*LAYOUT - restrict inner padding*/
.in_only_left {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.in_only_right {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.in_only_top {
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.in_only_bottom {
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
}
.in_only_lr {
	padding-top: 0;
	padding-bottom: 0;
}
.in_only_tb {
	padding-right: 0;
	padding-left: 0;
}
/*LAYOUT - outer margin*/
.out_tight,
[class*="out_tight_"] {
	margin: 0.5em;
}
.out_tighter,
[class*="out_tighter_"] {
	margin: 0.25em;
}
.out_loose,
[class*="out_loose_"] {
	margin: 1.5em;
}
.out_looser,
[class*="out_looser_"] {
	margin: 2em;
}
/*LAYOUT - restrict outer margin*/
.out_only_left {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}
.out_only_right {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.out_only_top {
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.out_only_bottom {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
.out_only_lr {
	margin-top: 0;
	margin-bottom: 0;
}
.out_only_tb {
	margin-right: 0;
	margin-left: 0;
}
/*LAYOUT - inline styles*/
.hide {
	display: none !important;
}
.first {
	margin-left: 0;
}
.last {
	margin-right: 0;
	padding-right: 0;
}
.top {
	margin-top: 0;
	padding-top: 0;
}
.bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}
.float_left {
	float: left !important;
}
.float_right {
	float: right !important;
}
img.float_left {
	margin: 0px 15px 0px 0px;
}
img.float_right {
	margin: 0px 0px 0px 15px;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.label {
	display: block;
	float: left;
	font-weight: bold;
}
.output {
}
hr {
	border: 0px solid #F2F2F2;
	border-top: 1px solid #F2F2F2;
	display: inline-block;
	margin: 1.5em 0;
	width: 100%;
}
code {
	padding: 2px 4px;
	font-size: 0.9em;
	color: #C7254E;
	background-color: #F9F2F4;
	white-space: nowrap;
	border-radius: 4px;
}
pre code {
	display: block;
	background-color: transparent;
	white-space: inherit;
	color: inherit;
}
/*EMBED VIDEO*/
.video_container {
	display: block;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 1.5em;
}
.video_container iframe,
.video_container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
