/*BODY*/
html {
	background-color: #B2B2B2;
	background-image: none;
	background-repeat: repeat;
	background-position: 0px 0px;
}
body {
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	font-size: 0.875em;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: center;
}
body.IE_6 {
	background-color: #FFFFFF;
	background-image: none;
}
/*BODY - component template (print, popup)*/
html.minimal {
	background-color: #FFFFFF;
}
html.minimal body {
	background-color: #FFFFFF;
	background-image: none;
	background-position: top left;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}
html.minimal article {
	display: inline-block;
	width: 100%;
}
