/* 
editor classes only
These also mimick the classes found in core
*/
body {
	background-color: #FFFFFF;
	background-image: none;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif, "Lucida Grande", "Lucida Sans Unicode";
	text-align: left;
}