/*GRID - fractions*/
[class*="wide_"]
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	float: left;
	margin-left: 1.6%;
}
@media screen and (max-width: 568px)
{
	[class*="wide_"]
	{
		margin-left: 0;
		margin-bottom: 1em;
	}
}
[class*="wide_"].first, [class*="wide_"]:nth-child(1)
{
	margin-left: 0px;
}
[class*="wide_"].flush, .flush [class*="wide_"]
{
	margin: 0px;
}
.wide_10
{
	width: 8.56%;
}
.wide_10.flush, .flush .wide_10
{
	width: 10%;
}
.wide_20
{
	width: 18.72%;
}
@media screen and (max-width: 568px)
{
	.wide_20
	{
		width: 100%;
	}
}
.wide_20.flush, .flush .wide_20
{
	width: 20%;
}
@media screen and (max-width: 568px)
{
	.wide_20.flush, .flush .wide_20
	{
		width: 100%;
	}
}
.wide_25
{
	width: 23.8%;
}
.wide_25.flush, .flush .wide_25
{
	width: 25%;
}
@media screen and (max-width: 568px)
{
	.wide_25.flush, .flush .wide_25
	{
		width: 25%;
	}
}
.wide_30
{
	width: 28.88%;
}
@media screen and (max-width: 568px)
{
	.wide_30
	{
		width: 100%;
	}
}
.wide_30.flush, .flush .wide_30
{
	width: 30%;
}
@media screen and (max-width: 568px)
{
	.wide_30.flush, .flush .wide_30
	{
		width: 100%;
	}
}
.wide_33
{
	width: 32.26%;
}
@media screen and (max-width: 568px)
{
	.wide_33
	{
		width: 100%;
	}
}
.wide_33.flush, .flush .wide_33
{
	width: 33.33%;
}
@media screen and (max-width: 568px)
{
	.wide_33.flush, .flush .wide_33
	{
		width: 100%;
	}
}
.wide_40
{
	width: 39.04%;
}
@media screen and (max-width: 568px)
{
	.wide_40
	{
		width: 100%;
	}
}
.wide_40.flush, .flush .wide_40
{
	width: 40%;
}
@media screen and (max-width: 568px)
{
	.wide_40.flush, .flush .wide_40
	{
		width: 100%;
	}
}
.wide_50, .wide_half
{
	width: 49.2%;
}
@media screen and (max-width: 568px)
{
	.wide_50, .wide_half
	{
		width: 100%;
	}
}
.wide_50.flush, .wide_half.flush, .flush .wide_50, .flush .wide_half
{
	width: 50%;
}
@media screen and (max-width: 568px)
{
	.wide_50.flush, .wide_half.flush, .flush .wide_50, .flush .wide_half
	{
		width: 100%;
	}
}
.wide_60
{
	width: 59.36%;
}
@media screen and (max-width: 568px)
{
	.wide_60
	{
		width: 100%;
	}
}
.wide_60.flush, .flush .wide_60
{
	width: 60%;
}
@media screen and (max-width: 568px)
{
	.wide_60.flush, .flush .wide_60
	{
		width: 100%;
	}
}
.wide_66
{
	width: 66.13%;
}
@media screen and (max-width: 568px)
{
	.wide_66
	{
		width: 100%;
	}
}
.wide_66.flush, .flush .wide_66
{
	width: 66.666666%;
}
@media screen and (max-width: 568px)
{
	.wide_66.flush, .flush .wide_66
	{
		width: 100%;
	}
}
.wide_70
{
	width: 69.52%;
}
@media screen and (max-width: 568px)
{
	.wide_70
	{
		width: 100%;
	}
}
.wide_70.flush, .flush .wide_70
{
	width: 70%;
}
@media screen and (max-width: 568px)
{
	.wide_70.flush, .flush .wide_70
	{
		width: 100%;
	}
}
.wide_75
{
	width: 74.6%;
}
@media screen and (max-width: 568px)
{
	.wide_75
	{
		width: 100%;
	}
}
.wide_75.flush, .flush .wide_75
{
	width: 75%;
}
@media screen and (max-width: 568px)
{
	.wide_75.flush, .flush .wide_75
	{
		width: 100%;
	}
}
.wide_80
{
	width: 79.68%;
}
.wide_80.flush, .flush .wide_80
{
	width: 80%;
}
.wide_100, .wide_full
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	width: 100% !important;
}
/*GRID - columns*/
[class*="columns_"]
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	overflow: hidden;
}
[class*="columns_"] > .column
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	float: left;
	margin-left: 1.6%;
	position: relative;
}
[class*="columns_"] > .column:nth-child(1)
{
	margin-left: 0px;
}
[class*="columns_"].flush > .column:nth-child(1n)
{
	margin: 0px;
}
/*GRID - 2 columns*/
.columns_2.flush > .column:nth-child(1n)
{
	width: 50%;
}
@media screen and (max-width: 568px)
{
	.columns_2.flush > .column:nth-child(1n)
	{
		width: 100%;
	}
}
.columns_2 > .column
{
	width: 49.2%;
}
@media screen and (max-width: 568px)
{
	.columns_2 > .column
	{
		width: 100%;
	}
}
/*GRID - 3 columns*/
.columns_3.flush > .column:nth-child(1n)
{
	width: 33%;
}
@media screen and (max-width: 568px)
{
	.columns_3.flush > .column:nth-child(1n)
	{
		width: 100%;
	}
}
.columns_3 > .column
{
	width: 32.26%;
}
@media screen and (max-width: 568px)
{
	.columns_3 > .column
	{
		width: 100%;
	}
}
/*GRID - 4 columns*/
.columns_4.flush > .column:nth-child(1n)
{
	width: 25%;
}
@media screen and (max-width: 568px)
{
	.columns_4.flush > .column:nth-child(1n)
	{
		width: 100%;
	}
}
.columns_4 > .column
{
	width: 23.8%;
}
@media screen and (max-width: 568px)
{
	.columns_4 > .column
	{
		width: 100%;
	}
}
/*GRID - 5 columns*/
.columns_5.flush > .column:nth-child(1n)
{
	width: 20%;
}
@media screen and (max-width: 568px)
{
	.columns_5.flush > .column:nth-child(1n)
	{
		width: 100%;
	}
}
.columns_5 > .column
{
	width: 18.72%;
}
@media screen and (max-width: 568px)
{
	.columns_5 > .column
	{
		width: 100%;
	}
}
/*TABLE*/
.table
{
	display: table;
	height: 100%;
}
[class*="cell_"], .cell
{
	display: table-cell;
	min-height: 1px;
	height: 1%;
}
@-moz-document url-prefix() {
[class*="cell_"], .cell
	{
		height: 100%;
	}
}
.cellspacer
{
	height: 100%;
}
.cell_10
{
	width: 10%;
}
.cell_20
{
	width: 20%;
}
.cell_25
{
	width: 25%;
}
.cell_30
{
	width: 30%;
}
.cell_33
{
	width: 33.33%;
}
.cell_40
{
	width: 40%;
}
.cell_50
{
	width: 50%;
}
.cell_60
{
	width: 60%;
}
.cell_66
{
	width: 66%;
}
.cell_70
{
	width: 70%;
}
.cell_80
{
	width: 80%;
}
.cell_90
{
	width: 90%;
}
