/*=============
GRID - fractions
=============*/
[class*="wide_"]
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	float: left;
	margin-left: 1.6%;
}
[class*="wide_"].first, [class*="wide_"]:first-child
{
	margin-left: 0px;
}
[class*="wide_"].flush, .flush [class*="wide_"]
{
	margin: 0px;
}
/*===========
10% WIDTH
===========*/
.wide_10
{
	width: 8.56%;
}
.wide_10.flush, .flush .wide_10
{
	width: 10%;
}
/*===========
20% WIDTH
===========*/
.wide_20
{
	width: 18.72%;
}
.static .wide_20
{
	width: 18.72%;
}
.wide_20.flush, .flush .wide_20
{
	width: 20%;
}
.static .wide_20.flush, .static.flush .wide_20
{
	width: 20%;
}
/*===========
25% WIDTH
===========*/
.wide_25
{
	width: 23.8%;
}
.static .wide_25
{
	width: 23.8%;
}
.wide_25.flush, .flush .wide_25
{
	width: 25%;
}
.static .wide_25.flush, .static.flush .wide_25
{
	width: 25%;
}
/*===========
30% WIDTH
===========*/
.wide_30
{
	width: 28.88%;
}
.static .wide_30
{
	width: 28.88%;
}
.wide_30.flush, .flush .wide_30
{
	width: 30%;
}
.static .wide_30.flush, .static.flush .wide_30
{
	width: 30%;
}
/*===========
33% WIDTH
===========*/
.wide_33
{
	width: 32.26%;
}
.static .wide_33
{
	width: 32.26%;
}
.wide_33.flush, .flush .wide_33
{
	width: 33.33%;
}
.static .wide_33.flush, .static.flush .wide_33
{
	width: 33.33%;
}
/*===========
40% WIDTH
===========*/
.wide_40
{
	width: 39.04%;
}
.static .wide_40
{
	width: 39.04%;
}
.wide_40.flush, .flush .wide_40
{
	width: 40%;
}
.static .wide_40.flush, .static.flush .wide_40
{
	width: 40%;
}
/*===========
50% WIDTH
===========*/
.wide_50, .wide_half
{
	width: 49.2%;
}
.static .wide_50, .static .wide_half
{
	width: 49.2%;
}
.wide_50.flush, .wide_half.flush, .flush .wide_50, .flush .wide_half
{
	width: 50%;
}
.static .wide_50.flush, .static .wide_half.flush, .static.flush .wide_50, .static.flush .wide_half
{
	width: 50%;
}
/*===========
60% WIDTH
===========*/
.wide_60
{
	width: 59.36%;
}
.static .wide_60
{
	width: 59.36%;
}
.wide_60.flush, .flush .wide_60
{
	width: 60%;
}
.static .wide_60.flush, .static.flush .wide_60
{
	width: 60%;
}
/*===========
66% WIDTH
===========*/
.wide_66
{
	width: 66.13%;
}
.static .wide_66
{
	width: 66.13%;
}
.wide_66.flush, .flush .wide_66
{
	width: 66.666666%;
}
.static .wide_66.flush, .static.flush .wide_66
{
	width: 66.666666%;
}
/*===========
70% WIDTH
===========*/
.wide_70
{
	width: 69.52%;
}
.static .wide_70
{
	width: 69.52%;
}
.wide_70.flush, .flush .wide_70
{
	width: 70%;
}
.static .wide_70.flush, .static.flush .wide_70
{
	width: 70%;
}
/*===========
75% WIDTH
===========*/
.wide_75
{
	width: 74.6%;
}
.static .wide_75
{
	width: 74.6%;
}
.wide_75.flush, .flush .wide_75
{
	width: 75%;
}
.static .wide_75.flush, .static.flush .wide_75
{
	width: 75%;
}
/*===========
80% WIDTH
===========*/
.wide_80
{
	width: 79.68%;
}
.static .wide_80
{
	width: 79.68%;
}
.wide_80.flush, .flush .wide_80
{
	width: 80%;
}
.static .wide_80.flush, .static.flush .wide_80
{
	width: 80%;
}
/*===========
100% WIDTH
===========*/
.wide_100, .wide_full
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	width: 100% !important;
	margin-left: 0px !important;
}
/*=============
GRID - columns
=============*/
[class*="columns_"]
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	overflow: hidden;
}
[class*="columns_"] > .column
{
	-webkit-box-sizing: border-box;
	/*Safari/Chrome, other WebKit*/
	-moz-box-sizing: border-box;
	/*Firefox, other Gecko*/
	box-sizing: border-box;
	/*Opera/IE 8+*/
	float: left;
	margin-left: 1.6%;
	position: relative;
}
[class*="columns_"] > .column:nth-child(n+1)
{
	margin-left: 0px;
}
[class*="columns_"].flush > .column:nth-child(n0)
{
	margin: 0px;
}
/*==============
GRID - 2 columns
==============*/
.columns_2.flush > .column:nth-child(n0)
{
	width: 50%;
}
.columns_2 > .column
{
	width: 49.2%;
}
/*==============
GRID - 3 columns
==============*/
.columns_3.flush > .column:nth-child(n0)
{
	width: 33%;
}
.columns_3 > .column
{
	width: 32.26%;
}
/*==============
GRID - 4 columns
==============*/
.columns_4.flush > .column:nth-child(n0)
{
	width: 25%;
}
.columns_4 > .column
{
	width: 23.8%;
}
/*==============
GRID - 5 columns
==============*/
.columns_5.flush > .column:nth-child(n0)
{
	width: 20%;
}
.columns_5 > .column
{
	width: 18.72%;
}
/*===============
CSS TABLE LAYOUT
===============*/
.table
{
	display: table;
	height: 100%;
}
.cellspaced
{
	padding-left: 1.6%;
}
[class*="cell_"], .cell
{
	vertical-align: top;
	display: table-cell;
	min-height: 100%;
	height: 1px;
}
[class*="cell_"]:nth-child(n+1).cellspaced, .cell:nth-child(n+1).cellspaced
{
	padding-left: 0;
}

@-moz-document url-prefix()
{
	[class*="cell_"], .cell
	{
		height: 100%;
	}
}

.cellspacer
{
	height: 100%;
}
.cell_10
{
	width: 10%;
}
.cell_20
{
	width: 20%;
}
.cell_25
{
	width: 25%;
}
.cell_30
{
	width: 30%;
}
.cell_33
{
	width: 33.33%;
}
.cell_40
{
	width: 40%;
}
.cell_50
{
	width: 50%;
}
.cell_60
{
	width: 60%;
}
.cell_66
{
	width: 66%;
}
.cell_70
{
	width: 70%;
}
.cell_80
{
	width: 80%;
}
.cell_90
{
	width: 90%;
}
/*==============
MEDIA QUERIES
==============
768 =  48em
767 =  47.938em
640 =  40em
568 =  35.5em
480 =  30em
320 =  20em*/
/*===================
RESPONSIVE @ 568 =  35.5em
===================*/
@media screen and (max-width: 35.5em)
{
	[class*="wide_"]
	{
		margin-bottom: 1em;
	}
	/*===========
	20% WIDTH
	===========*/
	.wide_20
	{
		width: 100%;
		margin-left: 0;
	}
	.wide_20.flush, .flush .wide_20
	{
		width: 100%;
	}
	/*===========
	25% WIDTH
	===========*/
	.wide_25
	{
		width: 49.2%;
	}
	.wide_25.flush, .flush .wide_25
	{
		width: 50%;
	}
	/*===========
	30% WIDTH
	===========*/
	.wide_30
	{
		width: 100%;
	}
	.wide_30.flush, .flush .wide_30
	{
		width: 100%;
	}
	/*===========
	33% WIDTH
	===========*/
	.wide_33
	{
		width: 100%;
		margin-left: 0;
	}
	.wide_33.flush, .flush .wide_33
	{
		width: 100%;
	}
	/*===========
	40% WIDTH
	===========*/
	.wide_40
	{
		width: 100%;
		margin-left: 0;
	}
	.wide_40.flush, .flush .wide_40
	{
		width: 100%;
	}
	/*===========
	50% WIDTH
	===========*/
	.wide_50, .wide_half
	{
		width: 100%;
		margin-left: 0;
	}
	.wide_50.flush, .wide_half.flush, .flush .wide_50, .flush .wide_half
	{
		width: 100%;
	}
	/*===========
	60% WIDTH
	===========*/
	.wide_60
	{
		width: 100%;
		margin-left: 0;
	}
	.wide_60.flush, .flush .wide_60
	{
		width: 100%;
	}
	/*===========
	66% WIDTH
	===========*/
	.wide_66
	{
		width: 100%;
		margin-left: 0;
	}
	.wide_66.flush, .flush .wide_66
	{
		width: 100%;
	}
	/*===========
	70% WIDTH
	===========*/
	.wide_70
	{
		width: 100%;
	}
	.wide_70.flush, .flush .wide_70
	{
		width: 100%;
	}
	/*===========
	75% WIDTH
	===========*/
	.wide_75
	{
		width: 100%;
	}
	.wide_75.flush, .flush .wide_75
	{
		width: 100%;
	}
	/*==============
	GRID - 2 columns
	==============*/
	.columns_2.flush > .column:nth-child(n0)
	{
		width: 100%;
	}
	.columns_2 > .column
	{
		width: 100%;
	}
	/*==============
	GRID - 3 columns
	==============*/
	.columns_3.flush > .column:nth-child(n0)
	{
		width: 100%;
	}
	.columns_3 > .column
	{
		width: 100%;
	}
	/*==============
	GRID - 4 columns
	==============*/
	.columns_4.flush > .column:nth-child(n0)
	{
		width: 100%;
	}
	.columns_4 > .column
	{
		width: 100%;
	}
	/*==============
	GRID - 5 columns
	==============*/
	.columns_5.flush > .column:nth-child(n0)
	{
		width: 100%;
	}
	.columns_5 > .column
	{
		width: 100%;
	}
}
/*===============
END OF GRID CSS
===============*/