@import url('/media/jui/css/icomoon.css');
@font-face {
	font-family: TEST;
	src: url('/templates/www/fonts/icomoon/fonts/icomoon.eot');
	src: url('/templates/www/fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('/templates/www/fonts/icomoon/fonts/icomoon.ttf') format('truetype'), url('/templates/www/fonts/icomoon/fonts/icomoon.woff') format('woff'), url('/templates/www/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*CALL IN SVG FOR BETTER CHROME RENDERING*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: TEST;
		src: url('/templates/www/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
	}
}
[class^="icon-custom"]:before, [class*=" icon-custom"]:before
{
	font-family: TEST;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/*Better Font Rendering ===========*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before
{
	padding-right: 0.5em;
}
.icon-custom-edit:before
{
	content: "\65";
}
.icon-custom-play:before
{
	content: "\5c";
}
.icon-custom-code:before
{
	content: "\3c";
}
.icon-custom-css3:before
{
	content: "\63";
}
.icon-custom-html5:before
{
	content: "\68";
}
.icon-custom-embed:before
{
	content: "\3e";
}
.icon-custom-google-plus:before
{
	content: "\67";
}
.icon-custom-twitter:before
{
	content: "\74";
}
.icon-custom-menu:before
{
	content: "\6d";
}
.icon-custom-link:before
{
	content: "\e601";
}
.icon-custom-radio-checked:before
{
	content: "\2e";
}
.icon-custom-minus:before
{
	content: "\2d";
}
.icon-custom-plus:before
{
	content: "\2b";
}
.icon-custom-checkmark:before
{
	content: "\2f";
}
.icon-custom-close:before
{
	content: "\78";
}
.icon-custom-linkedin:before
{
	content: "\6c";
}
.icon-custom-rss:before
{
	content: "\72";
}
.icon-custom-envelope:before
{
	content: "\6e";
}
.icon-custom-circle:before
{
	content: "\6f";
}
.icon-custom-facebook:before
{
	content: "\66";
}
.icon-custom-download:before
{
	content: "\64";
}
.icon-custom-fast_rewind:before
{
	content: "\5b";
}
.icon-custom-fast_forward:before
{
	content: "\5d";
}
.icon-custom-rewind:before
{
	content: "\7b";
}
.icon-custom-forward:before
{
	content: "\7d";
}
.icon-custom-calendar:before
{
	content: "\44";
}
.icon-custom-square:before
{
	content: "\29";
}
.icon-custom-search:before
{
	content: "\54";
}
.icon-custom-arrow:before
{
	content: "\47";
}
.icon-custom-ring:before
{
	content: "\4f";
}
.icon-custom-dot:before
{
	content: "\4a";
}
.icon-custom-outline_bottom:before {
	content: "\e600";
}
.icon-custom-outline_top:before {
	content: "\e601";
}
.icon-custom-aircon:before {
	content: "\e602";
}
.icon-custom-bar:before {
	content: "\e603";
}
.icon-custom-business-center:before {
	content: "\e604";
}
.icon-custom-parking:before {
	content: "\e605";
}
.icon-custom-credit-cards:before {
	content: "\e606";
}
.icon-custom-conference:before {
	content: "\e607";
}
.icon-custom-family:before {
	content: "\e608";
}
.icon-custom-restaurant:before {
	content: "\e609";
}
.icon-custom-golf:before {
	content: "\e60a";
}
.icon-custom-gym:before {
	content: "\e60b";
}
.icon-custom-pets:before {
	content: "\e60c";
}
.icon-custom-swimming:before {
	content: "\e60d";
}
.icon-custom-game-drives:before {
	content: "\e60e";
}
.icon-custom-safe:before {
	content: "\e60f";
}
.icon-custom-spa:before {
	content: "\e610";
}
.icon-custom-television:before {
	content: "\e611";
}
.icon-custom-access-disabled:before {
	content: "\e612";
}
.icon-custom-wifi:before {
	content: "\e613";
}

.icon_stack {
	float:	left;

}
.icon-custom-outline_top,.icon-custom-outline_bottom {
	position:absolute;
}
.icon_stack [class^="icon-custom"]:before,.icon_stack[class*="icon-custom"]:before {
	position: absolute;
	color:	#263846;
	font-size: 2em;

}
.icon_stack [class^="icon-custom"],.icon_stack [class*="icon-custom"] {
	width: 2em;
  	height: 2em;
  	line-height: 2em;
	padding-right: .3em;
}
.icon_stack .icon-custom-outline_top:before {
	color: #B0D236
}
.icon_stack .icon-custom-outline_bottom:before {
	color: #EEEEEE
}