<div class="container_footer_wrapper">
	<div class="container_footer">

		<div class="container_footer_above">
			<!-- FOOTER ABOVE -->
			[footer above]
		</div>

		<footer id="footer">
			<div class="container_footer_content">
				<!-- FOOTER -->
				[footer]
			</div>
			<div class="container_footer_aside">
				<!-- FOOTER ASIDE -->
				[footer aside]
			</div>

		</footer>
	</div>
	<div class="container_copy">
		<div class="copy">
			&copy; <?php echo date("Y"); ?> {{ site }}. All rights reserved
		</div>
		<!-- FOOTER BELOW -->
		<div class="container_footer_below">
			[footer below]
		</div>
		<div class="managed">[managed by]</div>
	</div>
</div>