 <div class="container_header">
    <header>
        <!-- MAIN NAV -->
        <nav class="nav_top">
            {% include nav_top.html %}
        </nav>
        <!-- LOGO - IMAGE -->
        <div class="logo">
            <span class="logo_image"><a href="{{ site.url }}/" title="w3 Template Framework"><img src="{{ site.url }}/templates/www/images/logo.png" alt="logo"/></a></span>
       	    <!-- LOGO - SLOGAN -->
            <span class="logo_slogan">slogan</span>
        </div>
        <!-- STRAPLINE -->
        <nav class="strapline">
            [STRAPLINE]
        </nav>
    </header>
    <!-- MAIN NAV -->
    <div class="container_nav">
        <nav class="nav_main">
            {% include nav_main.html %}
        </nav>
    </div>
</div>