 <div class="container_header">
    <header>
        <!-- MAIN NAV -->
        <nav class="nav_top">
            [TOP NAV]
        </nav>

       	<!-- LOGO - IMAGE -->
        <div class="logo">
            <span class="logo_image"><a href="/" title="w3 Template Framework"><img src="/images/style/logo.png" alt="logo"/></a></span>
        </div>
        <!-- MAIN NAV -->
        <nav class="strapline">
            [STRAPLINE]
        </nav>
        <span class="logo_slogan">slogan</span>
    </header>
        <!-- MAIN NAV -->
        <div class="container_nav">
            <nav class="nav_main">
                {% include nav_main.html %}
            </nav>
        </div>
    <?php endif; ?>
</div>