<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/content/alpha.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/content/tables.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/content/formalize.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/skeleton/head/header.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/skeleton/trunk/layout_cck.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/skeleton/foot/footer.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/menu/menu_h001.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/menu/menu_h002.css" type="text/css" media="screen, projection"  />
  <link rel="stylesheet" href="{{ site.url }}/templates/www/css/menu/menu_h003.css" type="text/css" media="screen, projection"  />
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>