<ul class="menu">
	<li class="item-1"><a href="{{ site.baseurl }}/pages/layout/index.html">Layout</a>
		<ul>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/layout/structure.html">Structure</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/pages/layout/layouts.html">Layouts</a></li>
		</ul>
	</li>
	<li class="item-7"><a href="{{ site.baseurl }}/pages/navigation/index.html">Navigation</a>
		<ul>
			<li class="item-8"><a href="{{ site.baseurl }}/pages/navigation/vertical.html">Vertical</a></li>
			<li class="item-9"><a href="{{ site.baseurl }}/pages/navigation/horizontal.html">Horizontal</a></li>
			<li class="item-10"><a href="{{ site.baseurl }}/pages/navigation/responsive.html">Off Canvas / Responsive</a></li>
			<li class="item-11"><a href="{{ site.baseurl }}/pages/navigation/subnav.html">Subnav</a></li>
			<li class="item-12"><a href="{{ site.baseurl }}/pages/navigation/breadcrumb.html">Breadcrumb</a></li>
			<li class="item-13"><a href="{{ site.baseurl }}/pages/navigation/pagination.html">Pagination</a></li>
			<li class="item-14"><a href="{{ site.baseurl }}/pages/navigation/tabs.html">Tabs</a></li>
		</ul>
	</li>
	<li class="item-15"><a href="{{ site.baseurl }}/pages/media/index.html">Media</a>
		<ul>
			<li class="item-16"><a href="{{ site.baseurl }}/pages/media/slider.html">Slider</a></li>
			<li class="item-17"><a href="{{ site.baseurl }}/pages/media/image.html">Image</a></li>
			<li class="item-18"><a href="{{ site.baseurl }}/pages/media/gallery.html">Gallery</a></li>
			<li class="item-19"><a href="{{ site.baseurl }}/pages/media/video.html">Video</a></li>
			<li class="item-20"><a href="{{ site.baseurl }}/pages/media/audio.html">Audio</a></li>
		</ul>
	</li>
	<li class="item-21"><a href="{{ site.baseurl }}/pages/elements/index.html">Elements</a>
		<ul>
			<li class="item-22"><a href="{{ site.baseurl }}/pages/elements/text.html">Text</a></li>
			<li class="item-23"><a href="{{ site.baseurl }}/pages/elements/alerts.html">Alerts</a></li>
			<li class="item-24"><a href="{{ site.baseurl }}/pages/elements/lists.html">Lists</a></li>
			<li class="item-25"><a href="{{ site.baseurl }}/pages/elements/tables.html">Tables</a></li>
			<li class="item-26"><a href="{{ site.baseurl }}/pages/elements/froms.html">Forms</a></li>
			<li class="item-27"><a href="{{ site.baseurl }}/pages/elements/buttons.html">Buttons</a></li>
			<li class="item-28"><a href="/templates/pages/elements/icon_intro.html">Icons</a></li>
		</ul>
	</li>
	<li class="item-29"><a href="#">Javascript</a>
		<ul>
			<li class="item-22"><a href="{{ site.baseurl }}/pages/javascript/jquery-collapse.html">jQuery Collapse</a></li>
		</ul>
	</li>
	<li class="item-30"><a href="{{ site.baseurl }}/pages/style/index.html">Style Guide</a></li>
</ul>




