<ul class="menu">
	<li class="item-8"><a href="/templates/pages/navigation/vertical.html">Vertical</a></li>
	<li class="item-9"><a href="/templates/pages/navigation/horizontal.html">Horizontal</a></li>
	<li class="item-10"><a href="/templates/pages/navigation/responsive.html">Off Canvas / Responsive</a></li>
	<li class="item-11"><a href="/templates/pages/navigation/subnav.html">Subnav</a></li>
	<li class="item-12"><a href="/templates/pages/navigation/breadcrumb.html">Breadcrumb</a></li>
	<li class="item-13"><a href="/templates/pages/navigation/pagination.html">Pagination</a></li>
	<li class="item-14"><a href="/templates/pages/navigation/tabs.html">Tabs</a></li>
</ul>