<ul class="menu">
	<li class="item-2"><a href="{{ site.baseurl }}/www/elements/manual/layout/structure.html">Structure</a>
		<ul>
			<li class="item-1"><a href="{{ site.url }}/templates/www/elements/manual/layout/foundation.html">Foundation</a></li>
			<li class="item-5"><a href="{{ site.url }}/templates/www/elements/manual/layout/grid.html">Grid</a>
				<ul>
					<li class="item-1"><a href="{{ site.url }}/templates/www/elements/manual/layout/flush.html">Flush</a></li>
					<li class="item-2"><a href="{{ site.url }}/templates/www/elements/manual/layout/loose.html">Loose</a></li>
					<li class="item-3"><a href="{{ site.url }}/templates/www/elements/manual/layout/percentage.html">Percentage Based</a></li>
					<li class="item-4"><a href="{{ site.url }}/templates/www/elements/manual/layout/table.html">CSS Table</a></li>
					<li class="item-5"><a href="{{ site.url }}/templates/www/elements/manual/layout/responsive.html">Responsive</a></li>
					<li class="item-6"><a href="{{ site.url }}/templates/www/elements/manual/layout/variations.html">Variations</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="item-3"><a href="{{ site.baseurl }}/www/elements/manual/layout/views.html">Views</a>
		<ul>
			<li class="item-2"><a href="{{ site.baseurl }}/www/elements/manual/layout/detail.html">Detail</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/www/elements/manual/layout/list.html">List</a></li>
		</ul>
	</li>
</ul>