<ul class="menu">
	<li class="item-22"><a href="/templates/pages/elements/text.html">Text</a></li>
	<li class="item-23"><a href="/templates/pages/elements/alerts.html">Alerts</a></li>
	<li class="item-24"><a href="/templates/pages/elements/lists.html">Lists</a></li>
	<li class="item-25"><a href="/templates/pages/elements/tables.html">Tables</a></li>
	<li class="item-26"><a href="/templates/pages/elements/forms.html">Forms</a></li>
	<li class="item-27"><a href="/templates/pages/elements/buttons.html">Buttons</a></li>
		<ul>
			<li class="item1"><a href="#Icon">Icon</a></li>
			<li class="item2"><a href="#Labeled">Labeled Icon</a></li>
			<li class="item3"><a href="#Group">Group</a></li>
			<li class="item4"><a href="#Animated">Animated</a></li>
			<li class="item5"><a href="#Conditionals">Conditionals</a></li>
			<li class="item6"><a href="#States">States</a></li>
			<li class="item7"><a href="#Variations">Variations (size, colour rounded)</a></li>
		</ul>
	</li>
	<li class="item-28"><a href="/templates/pages/elements/icons.html">Icons</a></li>
</ul>