<ul class="menu">
	<li class="item-2"><a href="{{ site.baseurl }}/pages/layout/structure.html">Structure</a>
		<ul>
			<li class="item-1"><a href="{{ site.url }}/templates/pages/layout/foundation.html">Foundation</a></li>
			<li class="item-5"><a href="{{ site.url }}/templates/pages/layout/grid.html">Grid</a>
				<ul>
					<li class="item-3"><a href="{{ site.url }}/templates/pages/layout/percentage.html">Percentage Based</a></li>
					<li class="item-6"><a href="{{ site.url }}/templates/pages/layout/variations.html">Variations</a></li>
					<li class="item-4"><a href="{{ site.url }}/templates/pages/layout/table.html">CSS Table</a></li>
					<li class="item-5"><a href="{{ site.url }}/templates/pages/layout/responsive.html">Responsive</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="item-3"><a href="{{ site.baseurl }}/pages/layout/layouts.html">Layouts</a>
		<ul>
			<li><a href="{{ site.baseurl }}/pages/layout/detail.html">Content Items</a>
				<ul>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Catalogue / Portfolio</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">News/Blog</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Event</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Author</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Comment</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Gallery</a></li>
				</ul>
			</li>
			<li><a href="{{ site.baseurl }}/pages/layout/detail.html">Menus</a>
				<ul>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Drop Down</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Mega</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Horizontal</a></li>
				</ul>
			</li>
			<li><a href="{{ site.baseurl }}/pages/layout/detail.html">Forms</a>
				<ul>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Simple</a></li>
				  <li><a href="{{ site.baseurl }}/pages/layout/detail.html">Multi-column</a></li>
				</ul>
			</li>
		</ul>
		<ul>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/layout/detail.html">Detail</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/pages/layout/list.html">List</a></li>
		</ul>
	</li>
</ul>