<ul class="menu">
	<li class="item0"><a href="{{ site.baseurl }}/www/elements/manual/layout/index.html">Layout</a>
		<ul>
			<li class="item-1"><a href="{{ site.baseurl }}/www/elements/manual/layout/flush.html">Flush</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/www/elements/manual/layout/loose.html">Loose</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/www/elements/manual/layout/percentage.html">Percentage Based</a></li>
			<li class="item-4"><a href="{{ site.baseurl }}/www/elements/manual/layout/responsive.html">Responsive</a></li>
			<li class="item-5"><a href="{{ site.baseurl }}/www/elements/manual/layout/variations.html">Variations</a></li>
		</ul>
	</li>
	<li class="item1"><a href="{{ site.baseurl }}/www/elements/manual/navigation/index.html">Navigation</a>
		<ul>
			<li class="item1"><a href="{{ site.baseurl }}/www/elements/manual/navigation/vertical.html">Vertical</a></li>
			<li class="item2"><a href="{{ site.baseurl }}/www/elements/manual/navigation/horizontal.html">Horizontal</a></li>
			<li class="item1"><a href="{{ site.baseurl }}/www/elements/manual/navigation/responsive.html">Off Canvas / Responsive</a></li>
			<li class="item3"><a href="{{ site.baseurl }}/www/elements/manual/navigation/subnav.html">Subnav</a></li>
			<li class="item4"><a href="{{ site.baseurl }}/www/elements/manual/navigation/breadcrumb.html">Breadcrumb</a></li>
			<li class="item5"><a href="{{ site.baseurl }}/www/elements/manual/navigation/pagination.html">Pagination</a></li>
			<li class="item6"><a href="{{ site.baseurl }}/www/elements/manual/navigation/tabs.html">Tabs</a></li>
		</ul>
	</li>
	<li class="item2"><a href="{{ site.baseurl }}/www/elements/manual/media/index.html">Media</a>
		<ul>
			<li class="item5"><a href="{{ site.baseurl }}/www/elements/manual/media/slider.html">Slider</a></li>
			<li class="item1"><a href="{{ site.baseurl }}/www/elements/manual/media/image.html">Image</a></li>
			<li class="item2"><a href="{{ site.baseurl }}/www/elements/manual/media/gallery.html">Gallery</a></li>
			<li class="item3"><a href="{{ site.baseurl }}/www/elements/manual/media/video.html">Video</a></li>
			<li class="item4"><a href="{{ site.baseurl }}/www/elements/manual/media/audio.html">Audio</a></li>
		</ul>
	</li>
	<li class="item3"><a href="{{ site.baseurl }}/www/elements/manual/elements/index.html">Elements</a>
		<ul>
			<li class="item5"><a href="{{ site.baseurl }}/www/elements/manual/elements/text.html">Text</a></li>
			<li class="item5"><a href="{{ site.baseurl }}/www/elements/manual/elements/alerts.html">Alerts</a></li>
			<li class="item1"><a href="{{ site.baseurl }}/www/elements/manual/elements/lists.html">Lists</a></li>
			<li class="item2"><a href="{{ site.baseurl }}/www/elements/manual/elements/tables.html">Tables</a></li>
			<li class="item3"><a href="{{ site.baseurl }}/www/elements/manual/elements/froms.html">Forms</a></li>
			<li class="item4"><a href="{{ site.baseurl }}/www/elements/manual/elements/buttons.html">Buttons</a></li>
			<li class="item5"><a href="{{ site.baseurl }}/www/elements/manual/elements/icons.html">Icons</a></li>
		</ul>
	</li>
	<li class="item4"><a href="#">Javascript</a></li>
	<li class="item5"><a href="#">Style Guide</a></li>
</ul>




