<ul class="menu">
	<li class="item0"><a href="#">Layout</a>
		<ul>
			<li class="item1"><a href="">Grid - Flush</a></li>
			<li class="item2"><a href="">Grid - Loose</a></li>
			<li class="item2"><a href="">Grid - Loose</a></li>
		</ul>
	</li>
	<li class="item1"><a href="#">Navigation</a>
		<ul>
			<li class="item1"><a href="#">Vertical</a></li>
			<li class="item2"><a href="#">Horizontal</a></li>
			<li class="item1"><a href="#">Off Canvas / Responsive</a></li>
			<li class="item3"><a href="#">Subnav</a></li>
			<li class="item4"><a href="#">Breadcrumb</a></li>
			<li class="item5"><a href="#">Pagination</a></li>
			<li class="item6"><a href="#">Tab</a></li>
		</ul>
	</li>
	<li class="item2"><a href="#">Media</a>
		<ul>
			<li class="item5"><a href="#">Slider</a></li>
			<li class="item1"><a href="#">Image</a></li>
			<li class="item2"><a href="#">Gallery</a></li>
			<li class="item3"><a href="#">Video</a></li>
			<li class="item4"><a href="#">Audio</a></li>
		</ul>
	</li>
	<li class="item3"><a href="#">Elements</a>
		<ul>
			<li class="item5"><a href="#">Text</a></li>
			<li class="item5"><a href="#">Alerts</a></li>
			<li class="item1"><a href="#">Lists</a></li>
			<li class="item2"><a href="#">Tables</a></li>
			<li class="item3"><a href="#">Forms</a></li>
			<li class="item4"><a href="{{ site.url }}/www/elements/manual/buttons.html">Buttons</a></li>
			<li class="item5"><a href="#">Icons</a></li>
		</ul>
	</li>
	<li class="item4"><a href="#">Javascript</a></li>
	<li class="item5"><a href="#">Style Guide</a></li>
</ul>




