/*SEPTENARY - VALUES*/
.septenary {
	color: #07B;
}
.septenary .swatch {
	background-color: #07B;
}
.septenary.fill {
	background-color: #D9EDF7;
}
.septenary.outline,
.septenary.outline_round,
.septenary.outline_rounder {
	border: 1px solid #BCE8F1;
}
