/*[fmt]10A0-11AA-1*/
/*MODULE - breadcrumb*/
.breadcrumb {
color: #000000; 
margin: 0px; 
padding: 0; 
}
.breadcrumb .separator {
color: #7C776C; 
}
.breadcrumb A {
color: #000000; 
}
.breadcrumb A:first-child {
background-image: url(/templates/www/images/icons/home.png); 
background-repeat: no-repeat; 
background-position: 0px 0px; 
padding-left: 1.6em; 
}
.breadcrumb A:visited {
}
.breadcrumb A:hover {
color: #333333; 
}
