/*[fmt]10A0-11AA-1*/ UL.h003.menu {
display: inline-block; 
margin: 0.5em 2em 0.25em 0px; 
padding: 0px; 
width: auto; 
list-style-type: none; 
}
UL.h003.menu LI {
display: inline; 
list-style-type: none; 
margin: 0px; 
padding: 0px; 
}
UL.h003.menu LI:before {
content: ''; 
}
UL.h003.menu LI A {
display: inline-block; 
font-family: icomoon; 
position: relative; 
background-image: none; 
background-position: 0px 50%; 
background-repeat: no-repeat; 
color: #FFFFFF; 
margin: 0 0 0 0.5em; 
text-decoration: none; 
vertical-align: middle; 
z-index: 2; 
font-size: 1.5em; 
width: 2.2em; 
height: 1.8em; 
line-height: 2em; 
text-align: center; 
}
UL.h003 LI A.icon-circle:before {
speak: none; 
font-style: normal; 
font-weight: normal; 
font-variant: normal; 
text-transform: none; 
/*[disabled]line-height:1;*/ 
/*Better Font Rendering ===========*/ 
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale; 
position: absolute; 
top: 0; 
left: 0; 
font-family: icomoon; 
font-size: 2.556em !important; 
font-weight: normal; 
/*[disabled]padding-right:0.5em;*/ 
vertical-align: text-top; 
z-index: -1; 
}
UL.h003 LI.item-144 A:before {
color: #36589B; 
}
UL.h003 LI.item-145 A:before {
color: #00ABF2; 
}
UL.h003 LI.item-146 A:before {
color: #007DB7; 
}
UL.h003 LI.item-147 A:before {
color: #FF9B00; 
}
UL.h003 LI.item-148 A:before {
color: #CB2C30; 
}
UL.h003 LI.item-149 A:before {
color: #A10900; 
}
UL.h003.menu LI A:visited {
color: #FFFFFF; 
}
UL.h003.menu LI.active A {
text-decoration: none; 
color: #FFFFFF; 
}
UL.h003.menu LI A:hover {
color: #FFFFFF; 
}
