/*[fmt]10A0-11AA-1*/
/*CONTENT*/
.container_content {
display: inline-block; 
margin: 20px 0px; 
}
.container_article {
display: block; 
background-color: #FFFFFF; 
}
ARTICLE {
display: block; 
margin: 0px; 
padding: 20px; 
}
.article_above {
}
.article_below {
}
.container_article_aside {
}
.article_aside {
}
ASIDE {
display: block; 
float: left; 
margin: 0px; 
padding: 20px 0px; 
width: 300px; 
background-color: #FFFFFF; 
}
ASIDE .module {
margin: 0 0 20px; 
padding: 0px 10px; 
}
SECTION {
}
