/*TERTIARY - VALUES*/
.tertiary {
	color: #0095CD;
}
.tertiary .swatch {
	background-color: #0095CD;
}
.tertiary.fill {
	background-color: #BCE8F1;
}
.tertiary.outline,
.tertiary.outline_round,
.tertiary.outline_rounder {
	border: 1px solid #3A87AD;
}